@charset "UTF-8";

body {
  font-size: 16px;
  padding-bottom: 20px;
  font-family: "Adobe 繁黑體 Std B", "文泉驛微米黑", "微軟正黑體", sans-serif;

  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */

  /* No support for these yet, use at own risk */
  user-select: none;
}

h3 {
  display: inline-block;
}

input[type="color"] {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  padding: 1px;
}

div.color {
  display: inline-block;
  vertical-align: middle;
}

div.color div {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #ccc;
  margin: 2px;
  width: 32px;
  height: 32px;
}

div.color div.selected {
  border: 2px solid black;
}

output {
  display: inline-block;
  font-size: 24px;
}

#Canvas {
  border: 1px solid black;
}

#upCanvas {
  border: 1px solid green;
  position: absolute;
  left: 0px;
  top: 50px;
}

#drawing {
  display: inline-block;
  cursor: crosshair;
}

#chatbox {
  display: inline-block;
  width: 300px;
  height: 600px;
  vertical-align: top;

  -webkit-user-select: text; /* Chrome all / Safari all */
  -moz-user-select: text; /* Firefox all */
  -ms-user-select: text; /* IE 10+ */
}

#chatbox > h4 {
  text-align: center;
  border: 1px solid navy;
  padding: 4px;
  margin: 0 0 3px 0;
}

#chat {
  width: 100%;
  height: 530px;
  overflow: auto;
  border: 1px solid navy;
  margin: 0 0 3px 0;
  white-space: normal;
}

#width {
  width: 300px;
  background-color: black;
  margin-left: 10px;
}
