body {
    background-image: url('/img/bg1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Adobe 繁黑體 Std B', '文泉驛微米黑', '微軟正黑體', sans-serif;
}

div.bitbucket {
    display: inline-block;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    background-color: #6d6d6d;
    color: white;
    position: absolute;
    top: 77px;
    right: 1px;
    font-size: 10pt;
} 

#logo + h2 {
    display: inline-block;
    margin: 10px 15px 10px 10px;
    vertical-align: middle;
}
input#newName, a.ptnSelect{
    font-size: 18pt;
}
input#newName {
    height: 50px;
    margin-top: 70px;
    margin-bottom: 6px;
}
a.ptnSelect {
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo {
    height: 60px;
    border-radius: 50%;
    border: 3px solid #FFF;
    vertical-align: middle;
}

div.top {
    margin-top: 26px;
}

a.link {
    font-size: 16pt;
    color: white;
    padding: 20px;
}
